@import "tailwindcss";

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    background-color: #F9F9F7;
    color: #171717;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
  }

  /* Custom minimal scrollbar for your layout */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #F9F9F7;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(180, 83, 9, 0.3);
    border-radius: 10px;
  }
}